@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
}
.header {
  background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)),
    url(images/q.jpeg);
  background-position: center;
  background-size: cover;
  height: 80vh;
  width: 100%;
  position: relative;
}
nav {
  display: flex;
  background-color: black;
  height: 120px;
  align-items: center;
  justify-content: space-between;
}
nav .nav-links h1 {
  padding: 10px;
  font-size: 40px;
  border-top: 1px solid #555;
  color: #fff;
}
nav .nav-links h1 span {
  color: rgb(4, 138, 4);
}
.nav-links {
  flex: 1;
  text-align: center;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 12px 30px;
  position: relative;
}
.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.nav-links ul li a:hover {
  color: rgb(4, 138, 4);
  padding: auto;
}
.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #fff;
  font-weight: 600;
  text-align: center;
}

.text-box h1 {
  padding: 10px;
  font-size: 50px;
  color: rgb(7, 161, 7);
}

.btn {
  display: inline-block;
  margin-top: 16px;
  cursor: pointer;
  padding: 5px 15px;
  color: #fff;
  border: 3px solid rgb(4, 138, 4);
  background: rgb(4, 138, 4);
}
.title {
  color: rgb(4, 66, 14);
  text-align: center;
  padding: 20px;
  padding-bottom: 30px;
  font-size: 40px;
  text-shadow: 0 2px 55px rgba(139, 207, 156, 0.9);
}
@media (max-width: 700px) {
  .text-box h1 {
    font-size: 40px;
  }
  .nav-links ul li a {
    font-size: 12px;
    display: none;
  }
  .text-box {
    padding-top: 50px;
  }
  nav {
    height: 100px;
  }
}

/*About.,,,,,*/
.about {
  padding-top: 30px;
  width: 80%;
  margin: auto;
  text-align: center;
}
.abt-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.col-about {
  padding-top: 20px;
  font-size: 18px;
  flex-basis: 48%;
}
.col-about h1 {
  padding: 20px;
  font-size: 40px;
}
.col-about img {
  width: 100%;
}
/*booking form*/
.book {
  padding-top: 40px;
}

form {
  flex: 1 1 50rem;
  padding: 2rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}
form .box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
form input {
  width: 80%;
  margin: 5px;
  padding: 12px;
  color: rgb(36, 46, 37);
  background: #f7f7f7;
}

#bt {
  width: 100px;
  color: #fff;
  background-color: rgb(4, 138, 4);
}

/*Packages*/
.packages {
  padding-top: 40px;
}

.package-dest {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.destination {
  flex: 1 1 400px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}
.destination img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}
.destination .abt {
  padding: 30px;
}
.destination .abt h3 {
  font-size: 28px;
  color: rgb(2, 44, 9);
}
.destination .abt h3 i {
  color: rgb(4, 138, 4);
}
.destination .abt p {
  font-size: 23px;
  color: rgb(6, 95, 61);
  padding: 16px 0;
}
.destination .abt .price {
  font-size: 20px;
  color: rgb(5, 58, 14);
}
.destination .abt .price span {
  color: rgb(19, 87, 31);
  font-size: 16px;
  text-decoration: line-through;
}
/*----gallery---*/
.gallery {
  padding-top: 40px;
}

.gallery .box-contain {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.gallery .box-contain .box {
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 4px solid #fff;
  border-radius: 8px;
  flex: 1 1 400px;
  height: 300px;
  position: relative;
}
.gallery .box-contain .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/*-----Services----*/
.services {
  padding-top: 40px;
}

.services .serv-abt {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.services .serv-abt .contain {
  flex: 1 1 300px;
  border-radius: 30px;
  padding: 12px;
  text-align: center;
}
.services .serv-abt .contain i {
  padding: 13px;
  font-size: 50px;
  color: rgb(4, 138, 4);
}
.services .serv-abt .contain h3 {
  font-size: 24px;
  color: rgb(2, 44, 9);
}
.services .serv-abt .contain p {
  font-size: 20px;
  color: rgb(62, 107, 62);
  padding: 13px 0;
}
.services .serv-abt .contain:hover {
  box-shadow: 0 12px 15px rgba(0, 0, 0, 0.1);
}

/*---contacts-----*/
.Contacts {
  padding-top: 30px;
}
.cont-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.insider {
  padding: 30px 2px;
  flex-basis: 48%;
}
.insider img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*----testimonials*/
.Reviews {
  padding-top: 30px;
}

.testimonials {
  display: flex;
  flex-wrap: wrap;
}
.testimonys {
  padding: 20px;
  text-align: center;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.testimonys img {
  object-fit: cover;
  height: 120px;
  width: 100px;
  border-radius: 50%;
}
.testimonys p {
  color: rgb(62, 107, 62);
  font-size: 20px;
  padding: 1rem 0;
}

/*-----footer----*/
.footer {
  background: black;
  padding: 30px;
}
.footer .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.footer .box-container .box {
  padding: 12px 0;
  flex: 1 1 300px;
}
.footer .box-container .box h3 {
  font-size: 24px;
  color: #fff;
}
.footer .box-container .box p {
  font-size: 18px;
  padding: 8px 0;
  color: #eee;
}
.footer .box-container .box a {
  display: block;
  font-size: 20px;
  padding: 8px 0;
  color: #eee;
}
.footer .box-container .box a:hover {
  color: rgb(4, 138, 4);
  text-decoration: underline;
}
.footer .credit {
  text-align: center;
  padding: 16px 4px;
  margin-top: 5px;
  font-size: 20px;
  font-weight: normal;
  color: #fff;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
}
.footer .credit span {
  color: rgb(4, 138, 4);
}
